<form [formGroup]="form" class="dialog-wrapper">
  <div class="dialog-header">
    <div class="title">
      Change Password
    </div>
    <div class="flex1"></div>
    <a mat-dialog-close class="close-dialog" (click)="dialogRef.close('no')">
      <i class="material-icons">&#xE14C;</i>
    </a>
  </div>

  <div class="dialog-content">
    <div class="form-wrapper">
      <div class="ui form">
        <!-- <div class="field">
          <label>Name
            <span class="rq-sign">*</span>
          </label>
          <input disabled #focusInput type="text" class="lg-input" placeholder="Enter full name" required formControlName="name">
        </div> -->

        <div class="field">
          <label>Password
            <span class="rq-sign">*</span>
          </label>
          <input type="password" class="lg-input" placeholder="Enter a valid Password" required minlength="6" maxlength="25" formControlName="password">
          <div *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="error-message">This field is required.</div>
          <div *ngIf="form.controls['password'].hasError('minlength') && form.controls['password'].touched" class="error-message">min length must be 6 and max length 25</div>
        </div>

        <div class="field">
          <label>Confirm Password
            <span class="rq-sign">*</span>
          </label>
          <input type="password" class="lg-input" placeholder="Enter Confirm Password" required minlength="6" maxlength="25" formControlName="confirm_password">
          <div *ngIf="form.controls['confirm_password'].hasError('required') && form.controls['confirm_password'].touched" class="error-message">This field is required.</div>
          <div *ngIf="form.errors?.mismach !== null && form.controls['confirm_password'].touched" class="error-message">Confirm Password & Password must be same.</div>
        </div>
      </div>
    </div>

  </div>
  <div class="dialog-footer">
    <div class="flex1"></div>
    <a mat-dialog-close class="enbutton cancel m-r16" (click)="dialogRef.close('no')">Cancel</a>
    <!-- <button type="submit" class="enbutton primary m-r16" [disabled]="!form.valid || store?.process || byPhone" (click)="create(form.value,true)">Save New</button> -->
    <button class="enbutton primary m-r16" [disabled]="!form.valid || env?.process" (click)="create(form.value,false)">Update</button>
  </div>
  <app-spinner *ngIf="env?.process"></app-spinner>
</form>
