.custom-tree {
  display: flex;
  align-items: center;
  min-height: 48px;
  flex: 1;
  padding-left:20px;
  overflow: hidden;
  word-wrap: break-word;
}
.sub-custom-tree {
  display: flex;
  align-items: center;
  min-height: 48px;
  flex: 1;
  padding-left:35px;
  overflow: hidden;
  word-wrap: break-word;
}
